Source: gbonds
Section: gnome
Priority: optional
Maintainer: Richard Laager <rlaager@wiktel.com>
Uploaders: tony mancill <tmancill@debian.org>
Build-Depends: debhelper (>= 10), dpkg-dev (>= 1.16.1), libgtk-3-dev, libgconf2-dev, libxml2-dev (>= 2.4.23), libtool, intltool, gnome-common, rarian-compat
Standards-Version: 4.2.1
Vcs-Browser: https://github.com/rlaager/gbonds-pkg
Vcs-Git: https://github.com/rlaager/gbonds-pkg.git
Homepage: http://gbonds.sourceforge.net

Package: gbonds
Architecture: any
Depends: gbonds-data (>= ${source:Upstream-Version}), gbonds-data (<< ${source:Upstream-Version}-z), ${shlibs:Depends}, ${misc:Depends}
Description: U.S. Savings Bond inventory program for GNOME
 GBonds is a Savings Bond inventory program for the GNOME desktop environment.
 It allows you to track the current redemption value and performance of your
 U.S. Savings Bonds and keep a valuable record of the bonds you own.  GBonds is
 similar in functionality to Savings Bond Wizard from the U.S. Department of
 the Treasury.
 .
 Features:
 .
   * Tracks savings notes and series E, EE, and I savings bonds.
   * Uses U.S. Treasury Department redemption files without modification.
   * Imports inventories created with Savings Bond Wizard.
   * Tracks current value of both individual bonds and an entire inventory.
   * Prints inventories.  It is important to keep a permanent record of your
     bonds in a separate location in case you ever need to replace them.

Package: gbonds-data
Architecture: all
Depends: ${misc:Depends}
Breaks: gbonds (<< 2.0.3-1)
Replaces: gbonds (<< 2.0.3-1)
Description: GBonds data files
 This package contains architecture-independent supporting data files required
 for use with GBonds, such as documentation, icons, and the Savings Bond
 redemption data files.
